a{
    position:fixed;
    top: 20px;
    right: 20px;
}
body{
    background-color: #cae6fa;
}
table{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f3fbff;
}
th{
    border: 1px solid #53a4fa;  
    padding: 12px;
    background-color: #6ab2ff; 
    color: white;
    text-align: center;
}
td{
    border: 0.5px solid #3c9aff; 
    padding: 10px;
    
}
tr:hover {
    background-color: #d7f2ff;
}
h2{
    font-size: 28px;
    color: #333;
    text-align: center; 
}


.back_button {
    background-color: #5a8aca;  
}